.tf-wrapper > * {
  margin: 0;
  padding: 0;
}
.tf-wrapper {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Lato", sans-serif;
}

.subtitle {
  font-size: 2rem;
}

.section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.mainintro {
  margin: 10% auto 5% auto;
}

.mainintro h1 {
  /* font-family: "Playfair Display", serif; */
  font-size: 8rem;
  color: #292928;
  letter-spacing: 0;
  text-align: center;
  line-height: 65px;
  margin: 30px auto 30px;
  font-weight: 900;
  max-width: 900px;
  -webkit-font-smoothing: antialiased;
}
.mainintro p {
  /* font-family: "Playfair Display", serif; */
  font-size: 2rem;
  color: #292928;
  letter-spacing: 0;
  text-align: center;
  line-height: 2rem;
  margin: 54px auto 30px;
  font-weight: 400;
  max-width: 900px;
  -webkit-font-smoothing: antialiased;
}

/* .origin h2 {
  font-family: "Playfair Display", serif;
} */
.origin p, .panel p {
  /* font-family: "Lato", sans-serif; */
  margin: 0 auto 25px auto;
  width: 100%;
  max-width: 640px;
}

.introsection {
  display: flex;
  justify-content: center;
}
.introsection .introinfo {
  text-align: left;
}

.list-of-characters {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.panel {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 50%;
  display: block,
}

#content-wrapper {
  overflow: hidden;
}

/* #indiaChar {
  top: 15% !important;

} */